<%- include ('../_layouts/adminheader') -%>

<h2 class="page-title">Add Page</h2>
<a href="/admin/pages" class="btn btn-secondary"> Back to All pages</a>

<form action="/admin/pages/add-page" method="post">
    <div class="from-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    <div class="from-group">
        <label for="">Slug</label>
        <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Slug">
    </div>
    <div class="from-group">
        <label for="">Content</label>
        <textarea class="form-control" id="ta" name="content" value="<%= content %>" placeholder="content"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include ('../_layouts/adminfooter') -%>